<html>
  <style type="text/css">
  </style>
<body>
<h3>MVC editor</h3>
<p>Component:<b>com_tagnyilvantartas</b>SOLATOK" />
</p>
<div>Component leirasa</div>
<p> </p>
<table>
  <tr>
    <td>kapcsolatok</td>
	<td>leiras</td>
	<td><button type="button">Open</button></td>
	<td><button type="button">Edit</button></td>
	<td><button type="button">Delete</button></td>
  </tr>
  <tr>
    <td>kezelok</td>
	<td>leiras</td>
	<td><button type="button">Open</button></td>
	<td><button type="button">Edit</button></td>
	<td><button type="button">Delete</button></td>
  </tr>
  <tr>
    <td>cimkek</td>
	<td>leiras</td>
	<td><button type="button">Open</button></td>
	<td><button type="button">Edit</button></td>
	<td><button type="button">Delete</button></td>
  </tr>
</table>
<p> </p>
<button type="button">add new view</button>
</body>
</html>